*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
} 
.html, body {
    height: 100%;
    width: 100%;
}
.container {
    max-width: 1200px;
    margin:0 auto;
    text-align:center;
}
.logo{
    height:80px;
    margin-top: -20px;
}
.nav-link {
    color: black;
}
.navbar{
    width:100%;
    height: 50px;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin-left: 600px;

}
.navbar ul li{
    margin:10px;
    padding: 20px;
    font-size: 14px;
    font-weight: lighter;
    font-family: sans-serif;
}
.navbar a:active{
    color: rgb(250, 77, 15);
    
}
.logo{
    float:inline-start;
    margin:20px;
}
.logo img{
    height: 30px;
}
.header{
    background-color: white;
    width:100%;
    height: 70px;
}
.contact-bg{
    background-image: url(../img/dine-out.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%s;
}
.contact-bg::after{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index:1;
    margin-top:70px;
    height: 400px;
}
.contact1 h1{
    font-size: 54px;
    font-weight: 400;
    font-family: 'Berkshire Swash', handwriting;
    line-height: 1.4em;
    color: #ffffff;
    text-align: left;
    padding-left:50px;
    padding-top: 90px;
}
.contact1 h2{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Berkshire Swash', handwriting;
    line-height: 1em;
    color: #ffffff;
    text-align: left;
    padding-left: 30px;
    padding-top: -30px

}

.contact1 img{
    float: left;
    margin: 30px;
    padding-left: 30px;
}
.bg-color{
    background-color: rgb(228, 206, 198);
    height:1250px ;
    width: 100%;
}
.bg-text h2{
    font-size: 28px;
    font-size: 1.8666666666667rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 1.3em;
    padding: 10px;
    margin: 10px;
}
.location{
    display: flex;
}
.bg-text h3{
    font-size: 22px;
    line-height: 1.2em;
    font-family: 'Berkshire Swash', handwriting;
    padding: 10px;
    margin:10px 0px;
    font-weight: 100;
    text-align: left;
} 
.bg-text i{
    font-size:22px;
    color: rgb(247, 96, 42);
    margin:10px;
}
.favicons p{
    font-size: 20px;
    font-size: 1.3333333333333rem;
    line-height: 1.2em;
    font-family: 'Berkshire Swash', handwriting;
}
.favicons p{
    font-size: 30px;
    line-height: 1.2em;
    font-family: 'Berkshire Swash', handwriting;
    padding: 20px;
    margin-top: 30px;
}
.icons{
    font-size: 30px;
    color:rgb(245, 116, 69);
    margin-bottom:30px;
}
.contact2{
    display: flex;
}
.bg-text{
    width: 40%;
    margin-top: 40px;
}
.input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: left;
}
  
.input[type=submit]
{
    background-color:rgb(251, 128, 83);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.input[type=submit]:hover 
{
    background-color:rgb(246, 93, 37);
}
  
.contact-form {
    border-radius: 5px;
    background-color: rgb(228, 206, 198);
    padding: 20px;
    margin: 20px;
    width: 500px;
    height: 650px;
}
.form{
    width:600px;
    text-align: left;
    padding: 50px;
    height: 800px;
}
.contact-form label{
    color:white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: left;
}
.contact-form input{
    width: 400px;
    height: 40px;
    border-color: #ffffff;
    margin: 20px;
}


































.footer-bg{
    justify-content: center;
    text-align: center;
    line-height: 100px;
}
.footer-bg{
    background-image: url(../img/Prepare-dish-image.jpg);
    height: 400px;
    width: 100%;
    color: #ffffff;
}
.footer-bg h2{
    font-size: 43px;
    font-size: 2.8666666666667rem;
    font-weight: 400;
    font-family: 'Berkshire Swash', handwriting;
    line-height: 1.3em;
    color: #ffffff;
    padding: 20px;
    
}
.footer-bg p{
    font-size: 15px;
    font-weight: 5px;
    font-family: sans-serif;
    color: #ffffff;
    padding-top: 100px;
}
